@use '../../variables' as var;
@use '../../../mixins/media-query' as media-query;

@mixin articulo{

    .grid{

        .grid-item{            

            position: relative;
            overflow: hidden;

            img{

                transform: scale(1, 1);
                transition: 1s all;                    
            }

            p.tipoArticulo{

                color: var.$color-secundario;
                font-size: 14px;
                transition: .6s all;
            }

            &:hover{

                img{

                    transform: scale(1.1, 1.1);
                    transition: 1s all;  
                }

                border-bottom: 1px solid var.$color-primario;
                                    
            }

            
        }
    }
}

div.articuloBlog{
    transform: translate(0, -50px);    
    @include articulo;
}

div.articuloBlogDos{
    @include articulo; 
    border-bottom: 2px solid var.$color-quinario;
    padding-bottom: 3rem;
}

div.masArticulosInterno{
    border-top: 2px solid var.$color-quinario;
}

/* ==============================
INTERNAS
============================== */
div.articuloInternasBlog{

    background: white;
    transform: translate(0, -70px);    
    padding: 5em 5em 0 5em;


    .tipoArticulo,
    .titulo{

        margin-bottom: 1.5em;

    }

    div.infoSocial{

        margin-bottom: 4em;

        p{
            font-size: 18px;
        }
    }

    div.cuerpoArticulo{

        p{
            word-spacing: 4pt;
        }

        blockquote{

            padding: 1em 0 0 2em;
            font-weight: bold;
            width: 90%;
            font-style: oblique;

            &::before{

                content: "" url('../images/iconos/comillas-negro.png');
                margin-left: 2em;
            }
            
        }

        div.field--name-field-media-oembed-video,
        div.field--name-field-media-image{

            margin-right: auto;
            margin-left: auto;
        }
    }
}

/* ==============================
MEDIA QUERY
============================== */
@include media-query.media(lg){

    div.articuloBlog{
        transform: translate(0, -90px);    
    }
    
}

@include media-query.media(md){

    div.articuloBlog{
        transform: translate(0, -100px);    
    }

    div.articuloBlogDos{
        @include articulo; 
        border-bottom: 2px solid var.$color-quinario;
        padding-bottom: 2rem;
    }
    
}

@include media-query.media(sm){

    div.articuloBlog {
        transform: translate(0, -95px);
    }
    
}