@use '../../../mixins/media-query' as media-query;

div.encabezadoBlog{

    position: relative;
    background-position: center -61px;
    background-repeat: no-repeat;  
    background-size: cover;
    height: 680px;

    section.encabezado{

        background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.4) 25%);

        /* ==============================
        MENU ESCRITORIO
        ============================== */
        .menu nav{

            margin: 40px 0;
    
            ul{
    
                li{
                    margin: 0 20px 0 20px;               
    
                    a{
                        color: white;
                        font-size: 14px;
                        padding: 12px 0px;
                        position: relative;
                        font-weight: bold;
                        text-shadow: 1px 1px 2px black; 
    
                        &:hover::after{
                            content: "";
                            position: absolute;
                            width: 105%;
                            height: 3px;
                            background-color: white;
                            top: 3em;
                            left: -5px;
                        }
                    }
                }
            }
        }

        /* ==============================
        MENU TABLET
        ============================== */
        .menuMovil{

            nav{                

                a.navbar-brand{
                    color: white;
                    text-shadow: 1px 1px 2px black; 
                }
                
            }
        }
    
        div.iconos{
    
            margin: 20px 0;
    
        }

    }

    section.titulos{

        margin-top: 7rem;
        //background: red;

        h4{
            
            text-shadow: 1px 1px 2px black;
            color: white;
            position: relative;
            margin-bottom: 60px;
            
            &::after{
                content: "";
                position: absolute;
                width: 14%;
                height: 2px;
                background-color: white;
                top: 2em;
                left: 36rem;
            }
        }

        h1{

            width: 50%;
            text-shadow: 1px 3px 2px black;
            color: white;
            font-weight: bold;
        }
    }
}

/* ==============================
MEDIA QUERY
============================== */
@include media-query.media(lg){

}

@include media-query.media(lg){

    section.encabezado{      

        .menu nav{          
    
            ul{
    
                li{

                    margin: 0 0px 0 9px !important; 

                    a{                        
                        font-size: 12px !important;                       
                    }
                }
            }
        }
    }

    section.titulos{

        margin-top: 2rem !important;

        h4{    

            &::after{
               
                left: 25rem !important;
                width: 22% !important;
            }
        }
    }
}

@include media-query.media(md){

    section.encabezado{

        /* ==============================
        MENU ESCRITORIO
        ============================== */
        .menu nav{

            margin: 40px 0 0 !important;
           
            ul{

                li{

                    margin: 0 0 12px 10px !important;  

                    a:hover::after{
                        
                        height: 2px !important;                       
                        top: 2.3em !important;
                                              
                    }

                }
            }

            button{
                border-color: transparent;
            }
        }
    }

    section.titulos{

        margin-top: 1rem !important;

        h4{           
           
            &::after{
               
                width: 22% !important;                
                left: 18rem !important;
            }
        }

        h1{

            width: 80% !important;
          
        }
    }
}

@include media-query.media(sm){

    /* ==============================
    MENU ESCRITORIO
    ============================== */
    .menu nav{

        margin: 40px 0 0 !important;
        
        ul{

            li{
                margin: 0 0 4px 0 !important;

                a:hover::after{
                    
                    height: 2px !important;                       
                    top: 2.3em !important;
                                            
                }

            }
        }
    }

    /* ==============================
    MENU TABLET
    ============================== */
    .menuMovil{

        nav{            

            button{

                margin-left: 11rem;
            }
            
            div#menuMovil{
                position: absolute;
                left: -278px;
                top: 76px;
                width: 174%;                
            }
        }
    }

    section.titulos{

        margin-top: 6rem !important;

        h4{           
           
            &::after{
               
                width: 40% !important;                
                left: 11rem !important;
            }
        }

        h1{

            width: 95% !important;
            font-size: 2em;
            
        }
    }

}