@use '../../variables' as var;

section.seccionVideoBlog{

    margin-top: 30px;
    margin-bottom: 90px;

    div.titulo{

        h1{
            color: var.$color-primario;
            padding: 35px 35px;
        }
    }

    div.video{

        div.field--name-field-media-oembed-video{
            width: 100%;

            iframe{
                width: 100%;
            }
        }
    }
}