/* $Id $ */

a#text_resize_increase {
    background: none;
    display: initial;
    float: initial;
    width: 28px;
    height: 27px;
    margin: initial;
    outline: initial;
    text-indent: initial;
}

a#text_resize_decrease {
    background: none;
    display: initial;
    float: initial;
    width: 23px;
    height: 21px;
    margin: initial;
    outline: initial;
    text-indent: initial;
}

a#text_resize_reset {
    background: url(../images/a_reset.gif) no-repeat 0 0;
    display: block;
    float: right;
    width: 25px;
    height: 24px;
    margin: 9px 0 0 3px;
    outline: none;
    text-indent: -9000px;
    cursor: pointer;
}


/*#text_resize_clear {
    clear: both;
}*/


/*.block-text-resize .contextual {
    right: -20px;
    /* LTR 
}

.block-text-resize [dir="rtl"] .contextual {
    left: -20px;
}*/