@use 'variables' as var;
/* ===== ===== MENUGOVCO ===== ===== */
.menuGovCo{
    background-color: var.$color-quinario;
    
    nav{
        ul{
            li{
                span{
                    color: var.$color-primario;
                }
            }
        }
    }
    
    
}

section.menuPrincipal{

    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.4) 25%);

     /* ==============================
    MENU ESCRITORIO
    ============================== */
    nav{           
    
        ul{

            li{                            

                a,span{
                            
                    position: relative;                    
                    text-shadow: 1px 1px 2px black; 
                }
            }
        }
    }
}

/* ==============================
SLIDER HOME
============================== */
div.sliderHome{

    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
   
}