@use '../mixins/encabezado' as encabezado;
@use '../mixins/media-query' as media-query;

@include encabezado.encabezado('div', 'login');

form#user-login-form{

    padding: 0 15rem;
}

/* ==============================
MEDIA QUERY
============================== */
@include media-query.media(xs){

    form#user-login-form{
        padding: 0 1rem;
    }
}

@include media-query.media(sm){

    form#user-login-form{
        padding: 0 5rem;
    }
}

@include media-query.media(md){

    form#user-login-form{
        padding: 0 8rem;
    }
}