@use 'variables' as var;
.sliderNoticiaHome{

    div.encabezado{

        border-bottom: 1px solid var.$color-secundario;
        padding-bottom: 20px;

        h1{

            position: relative;

            &::after{
                content: "";
                position: absolute;
                width: 50%;
                height: 4px;
                background-color: #296294;
                top: 1.8em;
                left: 0;
            }
        }
    }

    div.slick{
        
        ul{

            li.grid{

                width: 50%;

                .grid__content{

                    .slide__caption{
                        padding: 0;
                    }
                }

                h2{

                    font-size: 1rem;
                }  

                &:nth-child(1){

                    img{
                        margin-bottom: 1em;
                    }

                    p.resumen{

                        font-weight: bold;
                        font-size: 1.1rem;
                    }
                }  
                
            }

            @for $i from 1 through 4 {
               

                li:nth-child(n + 2) {

                    &.grid{

                        .grid__content{

                            .slide__caption{

                                padding: 0;
                            }
                        }
                    }
                 
                    img{
                        display: none;                       

                    }

                }
            }
        }

        /* ===== ===== Botonera ===== ===== */
        .slick-dots li button:before{

        }
        ul.slick-dots {
            
            li{

                button:before{

                    color: var.$color-primario !important;

                }

                .slick-active {

                    button:before {                
                        color: var.$color-primario !important;
                    }

                }
            }
        }

        /* ===== ===== anterior y siguiente ===== ===== */
        nav.slick__arrow{
            position: relative;
            width: 15%;
            bottom: 1em;
            top: auto;

        }
    }
}