@use '_variables' as var;

section.productosServicios{
   
    .titulo{

        border-bottom: 1px solid var.$bg-secundario;
        padding-bottom: 20px;

        h1{
            text-align: center;
            width: 60%;
            color: var.$text-primario;
            position: relative;

            &:after{
                content: "";
                position: absolute;
                width: 100%;
                height: 4px;
                background-color: #296294;
                top: 2.8em;
                left: 0;
            }
        }

    }

    .grid-container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;       

        .grid-item{

            width: 212px;
            position:relative;
            //background-color: silver;
            margin-right: 20px;           
            height: 25em;
            cursor: pointer;
            box-shadow: 1rem 0rem 1rem #C8D0E3!important;

           &:last-child{

                margin-right:0em ;

           }

            figure{
                position: absolute;
                z-index: 1;
                bottom: 0px;
                left:0;
                width:100%;
                height:25%;                                                
                background: repeating-linear-gradient(184deg,
                            transparent 0, transparent 19%,
                                var.$bg-secundario 0, var.$bg-secundario);

                
                .fondo{
                    position: absolute;
                    z-index: 2;
                    bottom: -16px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: #CDDC4B;
                    background: repeating-linear-gradient(183deg, transparent 0, transparent 11%, #112d6a 0, #112d6a);

                    h1{
                        position: absolute;
                        top: 38%;                   
                        font-size: 22px !important;
                        width: 100%;
                    }

                    button{
                        position: absolute;
                        top: 60%; 
                        left: 10%;                 
                        
                    }
                }
               
            }

            img{
                border-radius: 0.8em;
            }
        }
        
    }
}