@use 'variables' as var;

form#search-block-form{

    position: relative;

    div.form-item{
        margin: 0;
    }

    div.buscadorHome{

        padding: 2em 3em;
        border: 1px solid  var.$border-secundario !important;
        border-bottom: none !important;
        border-radius: 0.8em 0.8em 0 0;        
        box-shadow: 1rem 0rem 1rem rgba(0,0,0,0.20)!important;

        label{

            color:var.$text-primario;
            font-weight: bold;
            font-size: 20px;
            word-spacing: -4pt;
            
        }

        input[type=search]{
            width: 51.6rem;
        }
        
    }

    .btnSearch{
        position: absolute;
        top: 81px;
        right: 34px;
        border-radius: 0 .25rem .25rem 0;
        line-height: 2.4;
        background: url('http://webfinde.test/themes/custom/webfinde/images/iconos/buscador.png') no-repeat;
        background-position:center top;
        width: 53px;
    }

}