// Define new variables.
/* ==============================
COLORES DE FONDO
============================== */
$bg-primario: #112d6a;
$bg-secundario:  #296294;
$bg-terciario: #E5eFFd;


/* ==============================
COLOR DE TEXTO
============================== */
$text-primario: #296294;
$text-terciario : #CDDC4B;

/* ==============================
BORDER
============================== */
$border-secundario: #c9c8c6