// Define new variables.
/* ==============================
COLORES
============================== */
$color-primario: #112d6a;
$color-secundario:  #296294;
$color-terciario: #CDDC4B;
$color-cuaternario: #00993e;
$color-quinario: #c9c8c6;
