// Define new variables.

/* ==============================
COLORES
============================== */

$color-primario: #112d6a;
$color-secundario: #296294;
$color-terciario: #CDDC4B;
$color-cuaternario: #00993e;
$color-quinario: #e5e5e5;
$color-senario: #0a9bd8;

$color-gradient-primary: linear-gradient(90deg, rgb(18, 47, 109) 5%, rgb(61, 99, 171) 50%, rgb(61, 99, 171) 50%, rgb(18, 47, 109) 100%);

$color-rgb-primary: rgb(153, 213, 239, 0.2);