@use '../custom/variables' as var;
// Override bootstrap framework variables.
// Full list of variables in [path to themes/contrib]/bootstrap4/dist/bootstrap/4.4.1/scss/_variables.scss
// or [path to themes/contrib]/bootstrap4/scss/_theme_variables.scss.

//@import '../../../../contrib/bootstrap4/dist/bootstrap/4.5.0/scss/_variables.scss';

/* ==============================
VENTANA MODAL
============================== */
//$modal-backdrop-bg:  transparent;
.modal-backdrop{
    background-color: transparent;
}

.btn-primary{    
    background-color: var.$color-secundario !important;
    border: 0 !important;
}

.btn-secondary{    
    background-color: var.$color-cuaternario !important;
    border: 0 !important;
    border-radius: 0 !important;
}
