@use '../../../mixins/media-query' as media-query;

@include media-query.media(xs){

    nav#breadcrumb{

        ol{
            display: block !important;

            li{
                display: block;
                padding-left: 0;

                &::before{

                    content: ' ';
                    display: block;
                }
            }
        }
    }
}

@include media-query.media(sm){

    nav#breadcrumb{

        ol{
            display: block !important;
        }
    }
}