@use '../../variables' as var;
@use '../../../mixins/custom-etiquetas' as encabezado;
@use '../../../mixins/media-query' as media-query;

/* ===== ===== ENCABEZADO ===== ===== */

@include encabezado.encabezado("div", "encabezadoPqrsd");
div.encabezadoPqrsd {
    div.encabezado {
        h1.tituloEncabezado {
            font-size: 2.5rem;
        }
    }
}


/* ==============================
MEDIA QUERY
============================== */

@include media-query.media(xs) {
    div.encabezadoPqrsd div.encabezado h1 {
        visibility: hidden;
        &::before {
            content: 'PQRSD';
            visibility: visible;
            float: left;
        }
    }
}

@include media-query.media(sm) {
    div.encabezadoPqrsd div.encabezado h1 {
        visibility: hidden;
        &::before {
            content: 'PQRSD';
            visibility: visible;
            float: left;
        }
    }
}