@use '../../variables' as var;
@use '../../../mixins/custom-etiquetas' as encabezado;
@use '../../../mixins/media-query' as media-query;

/* ==============================
TODAS LAS NOTICIAS
============================== */


/* ===== ===== ENCABEZADO ===== ===== */

@include encabezado.encabezado("div", "encabezadoNoticias");
div.pageNoticias {
    .grid-item {
        position: relative;
        overflow: hidden;
        img {
            transform: scale(1, 1);
            transition: 1s all;
        }
        h6.titulo {
            font-size: 14px;
            transition: .6s all;
        }
        a.body {
            color: black;
            &:visited {
                color: var.$color-cuaternario;
            }
        }
        &:hover {
            img {
                transform: scale(1.1, 1.1);
                transition: 1s all;
            }
            border-bottom: 1px solid var.$color-primario;
        }
    }
}


/* ==============================
MEDIA QUERY
============================== */

@include media-query.media(xs) {
    div.pageNoticias div.view-header h1 {
        font-size: 1.5rem;
    }
    article.noticiasInternas {
        h1,
        h2 {
            font-size: 1.5rem;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        div.cuerpoArticulo div.IntroContenido {
            display: initial !important;
            img {
                width: 100%;
            }
        }
        div.infoSocial p {
            display: block !important;
        }
    }
}

@include media-query.media(sm) {
    article.noticiasInternas div.cuerpoArticulo div.IntroContenido {
        display: initial !important;
        img {
            width: 100%;
        }
    }
}