@use '../../../../mixins/media-query' as media-query;
nav#breadcrumb ol {
    font-size: 1rem;
}

@include media-query.media(xs) {
    nav#breadcrumb {
        ol {
            display: block !important;
            font-size: 1rem;
            li {
                display: block;
                padding-left: 0;
                &::before {
                    content: ' ';
                    display: block;
                }
            }
        }
    }
}

@include media-query.media(sm) {
    nav#breadcrumb {
        ol {
            display: block !important;
        }
    }
}