@use '../../variables' as var;
@use '../../../mixins/encabezado' as encabezado;
@use '../../../mixins/media-query' as media-query;

/* ==============================
INTERNAS
============================== */

/* ===== ===== ENCABEZADO ===== ===== */
@include encabezado.encabezado("article","productoServicios");

/* ===== ===== CONTENIDO ===== ===== */
article.productoServicios {

    position: relative;
    
    div.cuerpoContenido{

        div.row{

            img.imgPortada{
                border-radius: 0.8rem;
            }
        }

        h4.tituloTabs{

            background-color: var.$color-primario;
            padding: 0.5rem;
        }

        /* ==============================
        TABS
        ============================== */
        ul.tabPrincipal{

            li > a{

                color: rgb(168, 168, 168);

                &.active{

                    color: var.$color-primario;
                    font-weight: bold;
                }
            }
        }

        ul.tabInternas{

            li > a{

                color: rgb(168, 168, 168);

                &.active{
                    color: white;
                    background-color: var.$color-primario;
                    font-weight: bold;
                }
            }
        }

        div.masInformacion{
            img{
                max-width: 100%;
                height: auto;
            }
        }

        /* ==============================
        TABS CONTENIDO
        ============================== */
        div#myTabContentPrincipal{

            padding: 3rem 4rem 3rem 4rem;
            border: 1px solid var.$color-quinario;
            border-top: none;
        }

        div#myTabContentInternas > .tab-pane > .paragraph{

            img{

                border-radius: 0.8rem;
            }
        
            div.gridContainer div.grid div.gridContenido{

                border: 1px solid var.$color-terciario;
                border-radius: 0.5rem;

                div.titulos{

                    background-color: var.$color-terciario;
                    color: var.$color-secundario;
                    cursor: pointer;
                }
            }

        }
    }
}

/* ==============================
MEDIA QUERY
============================== */
@include media-query.media(xs){

    article.productoServicios {
        
        div.cuerpoContenido{

            div#myTabContentPrincipal{

                padding: 1rem;
                
            }
        }
    }
}

@include media-query.media(sm){

    article.productoServicios {
        
        div.cuerpoContenido{

            div#myTabContentPrincipal{

                padding: 3rem 1rem 3rem 1rem;
                
            }
        }
    }
}

@include media-query.media(md){

    article.productoServicios {
        
        div.cuerpoContenido{

            div#myTabContentPrincipal{

                padding: 3rem 3rem 3rem 3rem;
                
            }
        }
    }
}