@use '../../variables' as var;
@use '../../../mixins/encabezado' as encabezado;

/* ==============================
Encabezado
============================== */
@include encabezado.encabezado("article","productoServicios");

/* ==============================
Contenido
============================== */
article.productoServicios > div.cuerpoContenido{

    div.titulo{

        border-bottom: 1px solid var.$color-secundario;       
        padding-bottom: 4rem;

        h1{

            position: relative;
            float: left;
            padding-bottom: 1rem;

            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 4px;
                background-color: var.$color-secundario;
                top: 1.5em;
                left: 0;
            }
        }
    }

    div.row{

        img.imgPortada{
            border-radius: 0.8rem;
        }
    }

    h4.tituloTabs{

        background-color: var.$color-primario;
        padding: 0.5rem;
    }

    /* ==============================
    TABS
    ============================== */
    ul.tabPrincipal{

        li > a{

            color: rgb(168, 168, 168);

            &.active{

                color: var.$color-primario;
                font-weight: bold;
            }
        }
    }

    ul.tabInternas{

        li > a{

            color: rgb(168, 168, 168);

            &.active{
                color: white;
                background-color: var.$color-primario;
                font-weight: bold;
            }
        }
    }

    /* ==============================
    TABS CONTENIDO
    ============================== */
    div#myTabContentPrincipal{

        padding: 3rem 4rem 3rem 4rem;
        border: 1px solid var.$color-quinario;
        border-top: none;
    }
}