@use '../../../variables' as var;
@use '../../../../mixins/media-query' as media-query;
div.transparenciaAcceso {
    figure {
        position: absolute;
        z-index: -1;
        //top: 0;
        height: 23rem;
        transform: translate(0, -13rem);
        img {
            height: 100%;
        }
    }
    h1.tituloEncabezado {
        text-shadow: 1px 1px 2px black;
        color: white;
        font-size: 3.5rem;
        font-weight: 600;
    }
    div.titulo {
        border-bottom: 1px solid var.$color-secundario;
        padding-bottom: 20px;
    }
    div.descripcion {
        border-bottom: 1px solid var.$color-quinario;
        div.decretosLeyes {
            div.field__item {
                color: var.$color-secundario;
                text-decoration: underline;
            }
        }
    }
}


/* ==============================
MEDIA QUERY
============================== */

@include media-query.media(xs) {
    div.transparenciaAcceso {
        h1.tituloEncabezado {
            font-size: 1.5rem;
            margin-top: 1rem;
        }
        div.titulo h1 {
            font-size: 1.5rem;
        }
        div.descripcion div.decretosLeyes {
            display: block !important;
            div.field__item {
                display: block !important;
                padding: 0 !important;
            }
        }
    }
}

@include media-query.media(sm) {
    div.transparenciaAcceso {
        h1.tituloEncabezado {
            font-size: 2.8rem;
        }
    }
}

@include media-query.media(md) {
    div.transparenciaAcceso {
        h1.tituloEncabezado {
            font-size: 3rem;
        }
    }
}

@include media-query.media(lg) {
    div.transparenciaAcceso {
        h1.tituloEncabezado {
            font-size: 3rem;
        }
    }
}