figure.transparenciaAcceso{

    position: absolute;
    z-index: -1;
    top: 7rem;
}

article.transparenciaAcceso{

    h1.tituloPrincipal{
        text-shadow: 1px 1px 2px black;
        color: white;
        font-size: 3.5rem;
        font-weight: 600;
    }
}