.pqrsd-confirm,
#register-pqrsd-admin,
#update-pqrsd-admin{
  max-width: 1000px;
  margin: 0 auto;
}
#update-pqrsd-admin .details-wrapper,
#register-pqrsd-admin .details-wrapper{
  display: flex;
  flex-flow: row wrap;
}
#update-pqrsd-admin .details-wrapper .col,
#register-pqrsd-admin .details-wrapper .col{
  width: 44%;
  padding: 2%;
}

.pqrsd-confirm .success{
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
}
.pqrsd-confirm .success .row{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}
.pqrsd-confirm .success .value{
  font-weight: bold;
  display: block;
  padding: 0px 10px;
  background-color: #ccc;
  width: 100px;
}
.pqrsd-confirm .success .text{
  text-align: right;
  margin-right: 10px;
  width: 50%;
  vertical-align: middle;
}
.pqrsd-confirm .actions-success{
  width: 400px;
  margin: 20px auto;
}
.pqrsd-confirm .actions-success .link{
  display: list-item;
}


/*Exposed filters admin form*/
.views-exposed-form{
  background-color: #f3f3f3;
  margin: 1rem 0px;
  border: 1px solid #ccc;
  padding: 1rem 0px;
}
.views-exposed-form .form--inline{
  display: flex;
  flex-flow: row wrap;
}
.views-exposed-form details.seven-details{
  overflow: hidden;
  padding: 0.5rem;
  width: 48rem;
  float: left;
  margin: 0 0.5rem;
}
.views-exposed-form .form-actions{
  width: 100%;
}
.views-exposed-form .seven-details__summary{
  padding: 0.5rem 0;
}
.views-exposed-form .form-type-entity-autocomplete,
.views-exposed-form .form-type-textfield{
  width: 10rem;
}
.views-exposed-form .form-type-checkbox{
  width: 10rem;
}

/*Table styles*/
.views-view-table .green{
  background-image: url('images/green.png');
}
.views-view-table .orange{
  background-image: url('images/orange.png');
}
.views-view-table .red{
  background-image: url('images/red.png');
}
.views-view-table .green,
.views-view-table .orange,
.views-view-table .red{
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-size: contain;
  text-indent: 10000px;
  display: block;
}

/*Report styles*/
.chart-container{
  position: relative;
  height: auto;
  width: 500px;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 5px;
  background-color: #fff;
}
#tipo-solicitante-chart,
#tipo-radicado-chart{
  width: 200px;
}
.export-link{
  margin: 15px;
  border:1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  display: block;
}