h2{
  font-weight: bold;
  font-size: 1.5rem;
}
.field{
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
}
.field .field__item{
  font-weight: normal;
}
.view-display-id-page_2 .view-filters{
  display: none;
}
.view-display-id-page_2 .view-content{
  font-size: 8px;
}